<br>
<h1>About us</h1><br>
<body>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Surya Ganesan</h5>
    <p class="card-text">If you have any queries you can contact me via twitter</p>
    <a href="twitter.com/0xSurya" class="btn btn-outline-info stretched-link">Twitter</a>
  </div>
</div>
</body>