<br>
<h1><center>Employee Management Console!</center></h1>
<br>
<br>

          <center><%= link_to "Admin Login",staffs_path,class:"btn btn-outline-success"%></center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
  <p>Authentication page goes here(soon)...</p>
</footer>